.cards__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
    margin: 0;
    grid-column: 2;
    grid-row: 2;
}

@media screen and (max-width:767px) {
    .cards__paragraph {
        font-size: 16px;
        grid-column: 1;
        grid-row: 4;
        padding:0 16px;
    }
}

.cards__paragraph:first-child:not(:last-of-type) {
    padding-bottom: 26px;
}